
.ant-page-header, .site-page-header-responsive, .ant-page-header-ghost {
background: rgb(211, 211, 223);
}


.site-layout-sub-header-background {
    background: rgb(8, 40, 142);
  }
  
  .site-layout-background {
    background-color: #2b1331;
    background-image: linear-gradient(315deg, #0a0576 0%, #2a5683 74%);
    border-radius: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pupCardOptions {
      display: flex;
      justify-content: space-between;
      width: 100px;
  }

  .ant-layout {
      background-color: rgb(53, 54, 58);
      padding-bottom: 2em;
  }

 .ant-card-cover {
    height: 200px;
    margin: 0em
  }

  .ant-card, .ant-card-bordered {
     margin: 0em;
     border: 2px solid rgb(45, 45, 50);
     justify-content: space-between;

  }

  .ant-card-actions {
      background: rgb(211, 211, 223);
  }
  

.headshot {
  display: flex;
  justify-content: space-between;
}