@import '~antd/dist/antd.css';

.app {
  text-align: center;
  height: 100vh;

}


/* CSS FOR THE BODY/SIDER/HEADER */

#components-layout-demo-responsive  {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
 
}


.site-layout-background {
  background: #fff;
  
}

/* Header */

.ant-menu.ant-menu-dark {
  height: 100vh;
  background-color: rgb(13, 2, 136);
}